@model BasicCrud.Models.TbUser

@{
    ViewData["Title"] = "Create";
}

<h1>Add new</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NmName" class="control-label">Name</label>
                <input asp-for="NmName" class="form-control" />
                <span asp-validation-for="NmName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DsEmail" class="control-label">Email</label>
                <input type="email" asp-for="DsEmail" class="form-control" />
                <span asp-validation-for="DsEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
