@model IEnumerable<BasicCrud.Models.TbUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Add new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NmName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DsEmail)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
